<div class="main">
<h1 class="description">Here there is a recopilation of questions frequently asqued of how to use DeChat:</h1>

  <section class= "question">
    <h2 class="query">How can I add friends?</h2>
    <p class="answer">
      You simply have to go to the "Settings" section in the navigation bar. Then you select the 
      username of your friend, as well as one provider, and you click on  the "Add Friend" button.
    </p>
  </section>

  <section class= "question">
    <h2 class="query">How can I start a chat with a friend?</h2>
    <p class="answer">
      Go to the right section on the chat, where your friends are listed, and click on his name.
      Now you must click on the chat form, and your friend too. Then you should be able to talk with him.
    </p>
  </section>

  <section class= "question">
    <h2 class="query">With which providers can I log in?</h2>
    <p class="answer">
      There exist three ways to log in the application.You can use a Solid account, using Inrupt, or with 
      an specific web id.
    </p>
  </section>

  <section class= "question">
      <h2 class="query">Can I cange my personal data in the application?</h2>
      <p class="answer">
        Yes, you can go to the "Profile" section and add or modify the information as you want.
      </p>
    </section>
  </div>