.main {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: calc(100vh - 50px);
    color: black;
    background: 
        linear-gradient(181deg, rgba(100,200,255,0.6), rgba(0, 0, 0, 0.9)),
        url('../../assets/images/Solid_Pattern.png') center center no-repeat;    
}

.question {
    margin: 1.5em;
    padding: 1em;
    border-radius: 1em;
    background-color: #7C4DFF;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.67);
}
.description{
    color: #fff;
}
