<h1>Here there is a recopilation of questions frequently asqued of how to use DeChat.</h1>
<section>
    <h2>How can I add friends?</h2>
    <p>
      You simply have to go to the "Settings" section in the navigation bar. Then you select the 
      of yuor friend, as well as the provider, and you click on  the "Add Friend" button.
    </p>
  </section>

  <section>
    <h2>How can I start a chat with a friend?</h2>
    <p>
      Go to the right section on the chat, where your friends are listed, and click on his name.
      Now you have to click on the chat form.
    </p>
  </section>

  <section>
    <h2>With which services can I log in?</h2>
    <p>
      There exist three ways to log in the application.You can use a Solid account, using Inrupt, or with 
      an specific web id.
    </p>
  </section>
  <section>
      <h2>Can I cange my personal data in the application?</h2>
      <p>
        Yes, you can go to the "Profile" section and add or modify the information as you want.
      </p>
    </section>