.button {
    width: 50px;
    border-radius: 5px;
    margin: 0px;
    padding: 0.3em;
    padding: 0.3em 0.4em;
    font-size: 1.3em;
    font-family: 'Droid Sans', sans-serif;
    background-color: #2A2845;
    color: white;
    transition: 0.2s ease-out;
    min-width: 50px;
}