:host {
    flex-grow: 1;
}

.feed{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.message{
    flex-direction: column;
    margin: 0.6em 1em;
}

.feed:first-child {
    margin-top: auto;    
}