<!DOCTYPE HTML>
<html lang="en" ng-app="chatApp">
    <head>
        <title>Chat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/speechBubbles.css">
        <link rel="stylesheet" href="styles/buttons.css">
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-route/angular-route.js"></script>
        <script src="core/version/version.js"></script>
        <script src="core/version/version-directive.js"></script>
        <script src="core/version/interpolate-filter.js"></script>
        <!-- Main app -->
        <script src="chatServices.js" defer></script>
        <script src="app.js" defer></script>
    </head>
    <body ng-controller="chatController">
        <header>
            <h1>Chat Test V2 with AngularJS</h1>
            <div class="login">
                <div id="loginBtn" ng-click="login()" ng-show="!userIsLogged" class="myButton" >Log in</div>
                <div id="logoutBtn" ng-click="logout()" ng-show="userIsLogged" class="myButton">Log out</div>
            </div>
        </header>
        <main ng-class="{blured: !userIsLogged}">
            <aside class="contacts">
                <!-- Contacts -->
                <div class="contact" ng-repeat="(contactID, chat) in chats" ng-click="changeChat($event)" data-contact="{{contactID}}">
                    <img ng-src="img/{{chat.contact.pic}}">
                    <p>{{chat.contact.name}}</p>
                </div>
            </aside>
            <div class="chat">
                <div class="chatbox">
                    <!-- Messages -->
                    <div class="message" ng-repeat="message in currentChat.messages">
                        <div class="speech-bubble-left">
                            <a>{{message.user}}</a>
                            <p>{{message.text}}</p>
                        </div>
                    </div>
                </div>
                <div class="input">
                    <input id="text" ng-model="currentChat.currentText" ng-disabled="!userIsLogged" my-enter="send()" type="text" placeholder="Type a message"/>
                    <div id="send" ng-click="send()" ng-disabled="!userIsLogged" class="myButton">Send</div>
                </div>
            </div>
        </main>
    </body>
</html>