.mainContent{
    display: flex;
    height: calc(100vh - 50px);
}

.chat {
    display: flex;
    flex: 5;
    order: 2;
    flex-direction: column;
}

.userListWrapper {
    background-color: #2A2845;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1;
    order: 1;
    border-right: 1px solid #222;
    overflow-x: hidden;
    overflow-y: auto;
}

.feedWrapper {
    background-color: #fff;
    background: 
        linear-gradient(181deg, rgba(100,200,255,0.6), rgba(0, 0, 0, 0.9)),
        url('../../assets/images/Solid_Pattern.png') center center no-repeat;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

.chatFormWrapper {
    height: 50px;
    background-color: #7C4DFF;
    padding: 0.1em;
}

#scroll-style::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

app-user-list {
    width: 100%;
}
