
.msg {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 70%;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);
}

.ownMsg{
    float: inline-end;
    background-color: #01579B;
}

.ownMsg:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 0 12px 15px;
    border-color: transparent #01579B;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 10px;
}

.otherMsg{
    float: inline-start;
    background-color: #eee;
}

.otherMsg:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 15px 12px 0;
    border-color: transparent #eee;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 10px;
}

.messageData{
    padding: 10px;
    font-size: 0.7em;
}

.sender{
    display: block;
    color: #222;
    font-weight: bold;
}

.isOwnSender{
    color: #E1F5FE;
}

.timestamp {
    color: #555;
    font-style: italic;
}

.isOwnTimestamp{
    color: #4FC3F7;
}

.messageContent{
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-wrap: break-word;
}

.isOwnMessageContent{
    background-color: #E3F2FD;
}