<div class="settingsFormWrapper">
  <div class="setting">
      <h2>Add a friend</h2>
      <p>
        Note: although this adds this user to your friends list, this does not mean that we you can chat with him/her. <br>
        The other user should add you to their list and then click on your profile in order to set everything up.
      </p>
      <div class="group">
          <input class="textInput"
          [(ngModel)]="webId" (keydown)="handleSubmit($event)"
          placeholder="Enter your friend's WebID"/>
          <button class="button" (click)=addFriend()>Add friend</button>
      </div>

      <h2>Remove a friend</h2>
      <p>
        Note: this will delete a friend from your POD and (IMPORTANT!) all the messages that you have sent.
      </p>
      <div class="group">
          <input class="textInput"
          [(ngModel)]="webId" (keydown)="handleSubmit($event)"
          placeholder="Enter your friend's WebID"/>
          <button class="button" (click)=removeFriend()>Remove friend</button>
      </div>
  </div>
</div>
